<p style="color: green"><%= notice %></p>

<h1>Toppings</h1>

<div id="toppings">
  <% @toppings.each do |topping| %>
    <p>
      <%= link_to "#{topping.name}", topping %>
    </p>
  <% end %>
</div>

<%= link_to "New topping", new_topping_path %>

<p><%= link_to "Home", root_path %></p>
